body {
  margin: 0;
  display: none;
  font-size: 30px;
  word-wrap: break-word; }
  @media only screen and (min-width: 990px) and (max-width: 992px) {
    body {
      font-size: 18px; } }
  @media only screen and (min-width: 993px) {
    body {
      font-size: 16px; } }
  @media only screen and (min-width: 990px) and (max-width: 992px) {
    body #background {
      display: block;
      height: 18em;
      background-color: #EEEDEF; } }
  @media only screen and (min-width: 993px) {
    body #background {
      display: block;
      height: 12em;
      background-color: #EEEDEF; } }
  @media only screen and (min-width: 990px) and (max-width: 992px) {
    body section {
      width: 90%;
      position: relative;
      top: 9em;
      margin: auto; } }
  @media only screen and (min-width: 993px) {
    body section {
      width: 90%;
      position: relative;
      top: 6em;
      margin-left: auto; } }
  body section article {
    cursor: pointer; }
    body section article h3 {
      display: inline-block;
      margin: 0; }
  body section article:first-child {
    position: relative;
    border: none; }
    @media only screen and (min-width: 993px) {
      body section article:first-child {
        display: inline-block;
        width: 34%; } }
    @media only screen and (min-width: 990px) and (max-width: 992px) {
      body section article:first-child {
        display: inline-block;
        width: 50%;
        float: left; } }
    body section article:first-child h3 {
      padding: 1em;
      box-sizing: border-box;
      z-index: 1;
      position: absolute;
      top: 50%;
      background-color: white;
      border-bottom: 0.6em solid #0E66A5;
      right: 0;
      color: #0E66A5;
      width: 60%; }
      @media only screen and (min-width: 993px) {
        body section article:first-child h3 {
          top: 3em;
          right: 0;
          transform: translateX(50%); } }
      @media only screen and (min-width: 990px) and (max-width: 992px) {
        body section article:first-child h3 {
          bottom: 0;
          left: 0;
          top: auto;
          width: 90%;
          transform: translateY(50%); } }
    body section article:first-child img {
      position: relative;
      max-width: 100%; }
      @media only screen and (min-width: 993px) {
        body section article:first-child img {
          height: 26em; } }
      @media only screen and (min-width: 990px) and (max-width: 992px) {
        body section article:first-child img {
          height: 18em; } }
  body section article:not(:first-child) {
    padding: 2em;
    box-sizing: border-box;
    background-color: white;
    border-bottom: dotted 0.1em #d8d8d8; }
    @media only screen and (min-width: 993px) {
      body section article:not(:first-child) {
        border-right: dotted 0.1em #d8d8d8;
        border-bottom: 0;
        display: inline-block;
        width: 22%;
        padding-bottom: 0; } }
    @media only screen and (min-width: 990px) and (max-width: 992px) {
      body section article:not(:first-child) {
        padding: 1em;
        width: 50%;
        float: right;
        display: inline-block;
        padding-bottom: 0; } }
    body section article:not(:first-child) h3 {
      box-sizing: border-box;
      vertical-align: top;
      width: 60%;
      margin: 0; }
      @media only screen and (min-width: 993px) {
        body section article:not(:first-child) h3 {
          margin-bottom: 1em;
          width: 100%; } }
    body section article:not(:first-child) img {
      margin: auto auto auto 5%;
      display: inline-block;
      max-width: 35%; }
      @media only screen and (min-width: 993px) {
        body section article:not(:first-child) img {
          margin: 0;
          max-width: 100%; } }
  body section::after {
    content: " ";
    display: table;
    clear: both; }
  body #story-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    height: 100%;
    z-index: 3; }
    body #story-cover article {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      transform: translate(-50%, -50%);
      max-height: 80%;
      overflow: hidden;
      background: white;
      z-index: 2;
      box-shadow: 0 0 10000em 20em #676767; }
      body #story-cover article #close-story {
        cursor: pointer;
        display: inline-block;
        position: absolute;
        top: 0.5em;
        right: 1em;
        color: white;
        background-color: #0E66A5;
        font-size: 2em;
        width: 1em; }
      body #story-cover article h3 {
        padding: 1.5em 2.5em;
        font-size: 1.5em;
        vertical-align: center;
        text-align: left;
        background-color: #0E66A5;
        color: white;
        margin: 0; }
      body #story-cover article #story-content::after {
        content: "";
        display: table;
        clear: both; }
      body #story-cover article p {
        padding: 2% 5%;
        margin: 0;
        font-size: 1em;
        line-height: 1em; }
      body #story-cover article #story-show {
        height: 1em;
        margin-bottom: 2em;
        font-weight: bolder;
        position: relative;
        right: 2%;
        float: right; }

.display-modal {
  display: block !important; }
